.button {
    padding: 10px 20px;
    text-decoration: none;
}

.large {
    padding: 20px 40px;
    font-size: 20px;
}

.primary {
    composes: button;
    background-color: #60dbfb;
    color: #fff;
}

.primary:hover {
    background-color: #5fceee;
}

.secondary {
    composes: button;
    background-color: #222;
    color: #fff;
}

.secondary:hover {
    background-color: #252525;
}

.red {
    composes: button;
    background-color: red;
}
